@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    /* font-family: 'Poppins', sans-serif; */
}
.body{
    background: #bbc6fa;
}
.quote-box{
    background: #fff;
    max-width: 700px;
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    text-align: center;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.15);
    border-radius: 8px;
}
.quote-box h2{
    margin-bottom: 40px;
    font-size: 32px;
    position: relative;
}
.quote-box h2::after{
    content: "";
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgb(23, 124, 229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.quote-box blockquote{
    font-size: 26px;
    min-height: 110px;
}
.quote-box blockquote::before, .quote-box blockquote::after{
    content: '"';
}
.quote-box span{
    font-size: 16px;
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}
.quote-box span::before{
    content: "";
    width: 20px;
    height: 2px;
    background: rgb(23, 124, 229);
    position: absolute;
    top: 50%;
    left:-30px;
}
.quote-box div{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.quote-box button{
    background: rgb(23, 124, 229);
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    margin: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
    width: 150px;
    /* width: max-content; */
    border: 1px solid rgb(23, 124, 229);
}
.quote-box button img{
    width: 20px;
    margin-right: 10px;
}
.quote-box button:nth-child(2){
    background: transparent;
    color: #333;
}
